{% extends 'base.html' %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-secondary">
                    {% for category, message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
    {% endwith %}
<body>
    <div class="auth-container">
            <h2 class="text-center">Restore Password</h2>
            <form method="post">
                <div class="form-group">
                    <label for="login" class="sr-only">Email</label>
                    <input type="login" class="form-control {{ 'is-invalid' if 'danger' in messages else '' }}"
                           id="login" name="login" placeholder="Enter your login"
                           required/>
                    <i class="fas fa-envelope"></i>
                </div>
                <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-key"></i> Restore</button>
                <a href="/auth" class="btn btn-secondary btn-block"><i class="fas fa-sign-in-alt"></i> Back to Login</a>
            </form>
    </div>
</body>
{% endblock %}